@{
    ViewBag.Title = "Home Page";
}
<style>
  img {
    position: absolute;
    top: -280px; bottom:0; left: 510px; right:0;
    margin: auto;

}
    h1{
        text-align:left;
    }
</style>

<div class="jumbotron">
    <h3 class="right">
        Henok Atsbaha <br />
        Software Developer
    
    </h3>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <img class="img-circle" src="https://media.licdn.com/mpr/mpr/shrink_100_100/AAEAAQAAAAAAAAvVAAAAJGI3YTcyMmQwLWRjN2ItNDUxNS1iMDc5LTkyZDJlMDJjYzJkNg.jpg"  width="150" height="205"/>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>